@{
    ViewBag.Title = "LoginPage";
}

<div ng-controller="login">
    
    <h2>Login to Library</h2><br><br>
    
    <form name="home" method="post" action="/home">    
        <input type="hidden" id="id" name="id">
    </form>

    <!-- Login Form -->
    <form  name="loginForm" ng-submit="submit()" novalidate>
         
        <label>Username</label>
        
        <input type="text"
               name="username"   
               ng-model="username" 
               required /> 

        <label>Password</label>
        <input type="password"  
               name="password" 
               ng-model="password" 
               required /><br>
   
        <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
        <a href="/user/create">Setup a new account</a>
    
        <br><br><label><b>{{loginStatus}}</b></label>

    </form>
    

    
    
</div>
